{% extends 'notes/base.html' %}
{% load static %}
{% block title %}
List Notes
{% endblock %}

{% block content %}
<h1>This Is A List Of All Notes Created</h1>
<h2>Notes List</h2>

<ul>
    {% for note in notes %}

    <li>
        <div>
            {{note.title}}
            {{note.content}}
        </div>
        <div>
            {{note.created_at}}
        </div>
    </li>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if notes.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ notes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ notes.number }} of {{ notes.paginator.num_pages }}.
            </span>

            {% if notes.has_next %}
            <a href="?page={{ notes.next_page_number }}">next</a>
            <a href="?page={{ notes.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</ul>
{% endblock content %}


{% block js %}
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock js%}