{% extends 'notes/base.html' %}
{% load static %}
{% block title %}
List Notes
{% endblock %}

{% block content %}
<h2>Notes List</h2>

<div class="card-deck">
    {% for note in notes %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{note.title}}</h4>
            <p class="card-text">{{note.content}}</p>
        </div>
        <div class="card-footer">
            <p class="card-text">
                <small class="text-muted">
                    {{note.created_at}}
                </small>
            </p>
        </div>
        <div>
        </div>
    </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pg-blue justify-content-center">
        {% if notes.has_previous %}
        <li class="page-item">
            <a class="page-link" tabindex="-1" href="?page={{ notes.previous_page_number }}">Previous</a>
        </li>
        {% endif %}


        <li class="page-item">
            <a class="page-link">Page {{ notes.number }} of {{ notes.paginator.num_pages }}</a>
        </li>
        <span class="current">

            {% if notes.has_next %}
            <li class="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ notes.next_page_number }}">Next</a>
                {% endif %}
        </span>
    </ul>
</nav>
{% endblock content %}


{% block js %}
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock js%}